<html>
	<head>
		<title>Zeejong parser</title>
		<script type="text/javascript" src="/static/jquery-2.0.3.min.js"></script>

		<script>
			var cache_accesses;
			var items;
			var mem_hits;
			var disk_hits;
			var url_hits;
			var db;

			function setCacheInfo(data) {
				cache_accesses.innerHTML = data["Accesses"];
				items.innerHTML = data["Items"];
				mem_hits.innerHTML = data["MemAccesses"];
				disk_hits.innerHTML = data["DiskAccesses"];
				url_hits.innerHTML = data["UrlAccesses"];
			}

			function setDbInfo(data) {
				db.innerHTML = "";
				for(var key in data) {
					db.innerHTML += key + " = " + data[key] + "\n"
				}				
			}

			function updateCache() {
				$.ajax({
				dataType: "json",
				url: "/cacheInfo",
				success: setCacheInfo
				});
			}

			function updateDb() {
				$.ajax({
				dataType: "json",
				url: "/dbInfo",
				success: setDbInfo
				});
			}

			$(document).ready(function() {
				cache_accesses = document.getElementById("cache_access");
				items = document.getElementById("items");
				mem_hits = document.getElementById("mem_hits");
				disk_hits = document.getElementById("disk_hits");
				url_hits = document.getElementById("url_hits");
				db = document.getElementById("db");

				setInterval(updateCache, 5000);
				setInterval(updateDb, 5000);
			});
		</script>
	</head>


	<body>
		<p>Cache accesses: <span id="cache_access"></span></p>
		<p>Cache items: <span id="items"></span></p>
		<p>Mem hits: <span id="mem_hits"></span></p>
		<p>Disk hits: <span id="disk_hits"></span></p>
		<p>Url hits: <span id="url_hits"></span></p>
		<textarea id="db"></textarea>
	</body>
</html>
