<html>
	<head>
		<title>Zeejong parser</title>
		<script type="text/javascript" src="/static/jquery-2.0.3.min.js"></script>

		<script>
			var cache_accesses;
			var mem_hits;
			var disk_hits;
			var url_hits;

			function setCacheInfo(data) {
				cache_accesses.innerHTML = data["Accesses"];
				mem_hits.innerHTML = data["MemAccesses"];
				disk_hits.innerHTML = data["DiskAccesses"];
				url_hits.innerHTML = data["UrlAccesses"];
			}

			function updateCache() {
				$.ajax({
				dataType: "json",
				url: "/cacheInfo",
				success: setCacheInfo
				});
			}

			$(document).ready(function() {
				cache_accesses = document.getElementById("cache_access");
				mem_hits = document.getElementById("mem_hits");
				disk_hits = document.getElementById("disk_hits");
				url_hits = document.getElementById("url_hits");

				setInterval(updateCache, 5000);
			});
		</script>
	</head>


	<body>
		<p>Cache accesses: <span id="cache_access"></span></p>
		<p>Mem hits: <span id="mem_hits"></span></p>
		<p>Disk hits: <span id="disk_hits"></span></p>
		<p>Url hits: <span id="url_hits"></span></p>

	</body>
</html>
